
/*ตั่ง css เบื้องต้น*/
*{
    margin: 0;  /*กำหนด margin = 0*/
    padding: 0; /*กำหนด padding = 0*/
    box-sizing: border-box; /*กำหนด  box-sizing = border-box*/
    font-family: 'Roboto Condensed', sans-serif;  /*กำหนด  font*/
}
/*ตั้ง css grid*/
.grid{
    display: grid; /*กำหนด display เป็น grid*/
    grid-template-columns: 1fr ; /*กำหนด columns ของ grid ให้มีความกว้างเป็น 1fr*/
    grid-template-rows: auto 600px 300px 200px; /*กำหนด ขนาด ของ grid ในแต่ละ row ให้ป็นดังนี้ rowที่ 1 = 600px  rowที่ 2 = 300px rowที่ 3 = 200px*/
    grid-template-areas: /*กำหนด areas grid ดังต่อไปนี้*/
        'header '
        'main '
        'main-2'
        'footer ';
}
.page-header{ /*กำหนด page-header เป็น grid-areas hearder*/
    grid-area: header;
}
.page-main-1{ /*กำหนด page-main-1 เป็น grid-areas main*/
    grid-area: main;
}
.page-main-2{ /*กำหนด page-main-2 เป็น grid-areas main-2*/
    grid-area: main-2;
    
}
.page-footer{ /*กำหนด page-footer เป็น grid-areas footer*/
    grid-area: footer;
}

body{/*css ส่วนของ Body*/
    font-family: Arial, Helvetica, sans-serif; /*กำหนด font*/
    background: #f1f1f1; /*กำหนด สีพื้นหลัง*/
}
/*css ส่วนของ nav*/
nav{
    background:#222; /*กำหนด สีพื้นหลัง*/
    padding: 5px 20px; /*กำหนด padding toppadding 5px right padding 20px*/
}
/*css ส่วนของ ul*/
ul{
    list-style-type: none; /*ทำการลบ list ตัวหน้าข้อความออก*/
}
a{/*css ส่วนของ a*/
    color: white; /*กำหนด สีตัวหนังสือ*/
    text-decoration: none; /*กำหนด  text-decoration เป็น none*/
}
/*css ส่วนของ a เมื่อมีการนำเมาส์มา hover ค้างไว้*/
a:hover{
    text-decoration: underline; /*กำหนด  text-decoration เป็น underline*/
}
/*css ส่วนของ a ที่อยู่ใน clss logo เมื่อมีการนำเมาส์มา hover ค้างไว้*/
.logo a:hover{ 
    text-decoration: none; /*กำหนด  text-decoration เป็น none*/
}
/*css ส่วนของ li ที่อยู่ใน clss menu*/
.menu li{
    font-size: 16px;  /*กำหนด  font-size เป็น 16px*/
    padding: 15px 5px; /*กำหนด padding toppadding 15px right padding 5px*/
    white-space: nowrap; /*กำหนด   white-space เป็น nowrap*/
}

.logo a, /*css ส่วนของ a ที่อยู่ใน clss logo*/
.toggle a{ /*css ส่วนของ a ที่อยู่ใน clss toggle*/
    font-size: 20px; /*กำหนด  font-size เป็น 20px*/
}
.page-main-1{ /*css ส่วนของ clss page-main-1*/
    background-color: #ffeaa7; /*กำหนด background-color เป็น ffeaa7 */ 
}
.page-main-2{ /*css ส่วนของ clss page-main-2*/
    background-color: #fdcb6e;/*กำหนด background-color เป็น fdcb6e */ 
}
/*Mobile Menu*/

.menu{/*css ส่วนของ clss menu*/
    display: flex;  /*กำหนด  display เป็น flex*/
    flex-wrap: wrap; /*กำหนดให้ flex item ภายใน flex Container มีการดันลงมาตามขนาดของ flex Container*/
    justify-content: space-between; /*กำหนด   justify-content เป็น space-between*/
    align-items: center; /*กำหนด   align-items เป็น center*/
}
.item{/*css ส่วนของ clss item*/
    width: 100%; /*กำหนด  width เป็น 100*/
    text-align: center; /*กำหนด  text-align เป็น center*/
    display: none; /*กำหนด display เป็น none*/
}
.item.active{ /*css ส่วนของ clss active ที่อยู่ใน class item*/
    display: block; /*กำหนด display เป็น block*/ 
}

#scene { /*css ส่วนของ id scene*/
    width: 400px; /*กำหนด width เป็น 400px*/ 
    height: 400px; /*กำหนด height เป็น 400px*/ 
    background-color: #aaf; /*กำหนด background-color เป็น aaf */ 
    overflow: hidden; /*กำหนด overflow เป็น hidden*/ 
    margin: 16px auto; /*กำหนด margin top 16px right  auto*/
    position: relative; /*กำหนด position เป็น relative*/ 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .1), -2px 2px 4px rgba(0, 0, 0, .1);/*กำหนด box-shadow */ 
} 

#tree { /*css ส่วนของ id tree*/
    position: absolute; /*กำหนด position เป็น absolute*/ 
    display: block; /*กำหนด display เป็น block*/ 
    width: 200px; /*กำหนด width เป็น 200px*/ 
    bottom: 10px; /*กำหนด bottom เป็น 10px*/ 
    left: 100px; /*กำหนด left เป็น 100px*/ 
}

#ground { /*css ส่วนของ id ground*/
    position: absolute; /*กำหนด position เป็น absolute*/ 
    display: block; /*กำหนด display เป็น block*/ 
    width: 400px; /*กำหนด width เป็น 400px*/ 
    bottom: 0;  /*กำหนด bottom เป็น 0*/ 
}

.apple { /*css ส่วนของ clss apple*/
    position: absolute; /*กำหนด position เป็น absolute*/
    top: 225px; /*กำหนด top เป็น 225px*/ 
    left: 120px; /*กำหนด left เป็น 120px*/ 
    width: 50px; /*กำหนด width เป็น 50px*/ 
    height: auto; /*กำหนด height เป็น auto*/ 
    transition: top .5s ease; /*กำหนด transition เป็น  top 0.5s ease*/ 
}

#scoreboard { /*css ส่วนของ id scoreboard*/
    width: 400px; /*กำหนด width เป็น 400px*/ 
    margin: 4px auto;  /*กำหนด margin top 4px right  auto*/
    padding: 0; /*กำหนด padding เป็น 0*/ 
    background-color: #eaeaea;  /*กำหนด background-color เป็น eaeaea */ 
}

#scoreboard:after { /*css ส่วนของ id scoreboard เมื่อเกิด after*/
    clear: both;  /*กำหนด clear เป็น both*/ 
    display: block; /*กำหนด display เป็น block*/ 
    content: " "; /*กำหนด content เป็น */ 
}

#scoreboard li {  /*css ส่วนของ li อยู่ใน id scoreboard  */
    list-style: none; /*กำหนด list-style เป็น none*/ 
    box-sizing: border-box; /*กำหนด box-sizing เป็น  border-box*/ 
    width: 33%; /*กำหนด width เป็น 33 */ 
    padding: 4px; /*กำหนด padding เป็น 4px */ 
    text-align: center; /*กำหนด text-align เป็น center */ 
    float: left; /*กำหนด float เป็น left */
}
.text-box{ /*css ส่วนของ class text-box*/
    text-align: center;  /*กำหนด text-align เป็น center */ 
    border: 5px solid red;  /*กำหนด border เป็น 5px solid red */ 
}
.text-box h1{ /*css ส่วนของ h1 ใน class text-box*/
    color: red; /*กำหนด color เป็น red */ 
    font-size: 3em;  /*กำหนด font-size เป็น 3em */ 
    font-weight: bold; /*กำหนด font-weight เป็น bold */ 
}
.text-box p{ /*css ส่วนของ h1 ใน class text-box*/
    padding: 10px; /*กำหนด padding เป็น 10px */ 
    font-size: 1.6em; /*กำหนด font-size เป็น 1.6em */ 
    font-weight: bold; /*กำหนด font-weight เป็น bold */ 
}

footer{  /*css ส่วนของ  footer*/
    background: #111;  /*กำหนด background เป็น 111 */ 
    height: auto;  /*กำหนด height เป็น auto */ 
    width: 100vw; /*กำหนด width เป็น 100vw */ 
    font-family: "Open Sans"; /*กำหนด font-family เป็น Open Sans */ 
    padding-top:40px ; /*กำหนด padding-top เป็น 40px */ 
    color: #fff; /*กำหนด color เป็น fff */ 
} 
.footer-content{ /*css ส่วนของ class footer-content*/
    display: flex; /*กำหนด display เป็น flex */ 
    align-items: center; /*กำหนด align-items เป็น center */ 
    justify-content: center; /*กำหนด justify-content เป็น center */ 
    flex-direction: column; /*กำหนด  flex-direction เป็น column */ 
    text-align: center; /*กำหนดtext-align เป็น center */ 
}
.footer-bottom{  /*css ส่วนของ class footer-bottom*/
    background: #000; /*กำหนด background เป็น 000 */ 
    width: 100vw; /*กำหนด width เป็น 100vw */ 
    padding: 20px 0; /*กำหนด padding top เป็น 20px  right เป็น 0*/ 
    text-align: center; /*กำหนดtext-align เป็น center */ 
}
.footer-bottom p{ /*css ส่วนของ p ใน class footer-bottom*/
    font-size: 14px; /*กำหนด  font-size เป็น 14px */ 
    word-spacing: 2px;  /*กำหนด    word-spacing เป็น 2px */ 
    text-transform: capitalize; /*กำหนด    text-transform เป็น capitalize */ 
}
.footer-bottom span{ /*css ส่วนของ span ใน class footer-bottom*/
    text-transform: uppercase; /*กำหนด    text-transform เป็น uppercase */ 
    opacity: .4; /*กำหนด    opacity เป็น 0.4 */ 
    font-weight: 200;/*กำหนด    font-weight เป็น 200 */ 
}


/*Tablate Menu*/
@media all and (min-width: 600px){/*ความกว้างหน้าจอ มากกว่า 600px*/
    .menu{ /*css ส่วนของ class menu*/
        justify-content: center; /*กำหนด   justify-content เป็น center */ 
    }
    .logo{ /*css ส่วนของ class logo*/
        flex: 1; /*กำหนด   flex เป็น 1 */ 
    }
    .toggle{ /*css ส่วนของ class toggle*/
        flex: 1; /*กำหนด   flex เป็น 1 */ 
        text-align: right; /*กำหนด   text-align เป็น right */ 
    }

}
/*Desktop menu*/
@media all and (min-width: 900px){
    .item{ /*css ส่วนของ class item*/
        display: block; /*กำหนด    display เป็น block */ 
        width: auto; /*กำหนด    width เป็น auto */ 
    }
    .toggle{ /*css ส่วนของ class toggle*/
        display: none; /*กำหนด    display เป็น none */ 
    }
    .logo{ /*css ส่วนของ class logo*/
        order: 0; /*กำหนด    order เป็น  0 */ 
    }
    .item{ /*css ส่วนของ class item*/
        order: 1; /*กำหนด    order เป็น  1 */ 
    }
    .menu li{  /*css ส่วนของ li ใน class menu*/
        padding: 15px 20px; /*กำหนด padding toppadding 15px right padding 20px*/
    }
}