*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
.grid{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto 600px 300px 200px;
    grid-template-areas: 
        'header '
        'main '
        'main-2'
        'footer ';
}
.page-header{
    grid-area: header;
}
.page-main-1{
    grid-area: main;
}
.page-main-2{
    grid-area: main-2;
    
}
.page-footer{
    grid-area: footer;
    /*background-color: #46302B;*/
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f1f1;
}
nav{
    background:#222;
    padding: 5px 20px;
}
ul{
    list-style-type: none; /*ทำการลบ list ตัวหน้าข้อความออก*/
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.logo a:hover{
    text-decoration: none;
}
.menu li{
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.logo a,
.toggle a{
    font-size: 20px;
}
.page-main-1{
    background-color: #ffeaa7;
}
.page-main-2{
    background-color: #fdcb6e;
}
/*Mobile Menu*/

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.item{
    width: 100%;
    text-align: center;
    display: none;
}
.item.active{
    display: block;
}

#scene {
    width: 400px;
    height: 400px;
    background-color: #aaf;
    overflow: hidden;
    margin: 16px auto;
    position: relative;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .1), -2px 2px 4px rgba(0, 0, 0, .1);
}

#tree {
    position: absolute;
    display: block;
    width: 200px;
    bottom: 80px;
    left: 100px;
}

#ground {
    position: absolute;
    display: block;
    width: 400px;
    bottom: 0;
}

.apple {
    position: absolute;
    top: 225px;
    left: 120px;
    width: 16px;
    height: auto;
    transition: top .5s ease;
}

#scoreboard {
    width: 400px;
    margin: 4px auto;
    padding: 0;
    background-color: #eaeaea;
}

#scoreboard:after {
    clear: both;
    display: block;
    content: " ";
}

#scoreboard li {
    list-style: none;
    box-sizing: border-box;
    width: 33%;
    padding: 4px;
    text-align: center;
    float: left;
}
.text-box{
    text-align: center;
    border: 5px solid red;
}
.text-box h1{
    color: red;
    font-size: 3em;
    font-weight: bold;
}
.text-box p{
    padding: 10px;
    font-size: 1.6em;
    font-weight: bold;
}
span {
    font-weight: bold;
    color: green;
}

footer{
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top:40px ;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/*Tablate Menu*/
@media all and (min-width: 600px){
    .menu{
        justify-content: center;
    }
    .logo{
        flex: 1;
    }
    .toggle{
        flex: 1;
        text-align: right;
    }

}
/*Desktop menu*/
@media all and (min-width: 900px){
    .item{
        display: block;
        width: auto;
    }
    .toggle{
        display: none;
    }
    .logo{
        order: 0;
    }
    .item{
        order: 1;
    }
    .menu li{
        padding: 15px 20px;
    }
}